<!DOCTYPE html>
<head xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script type="text/javascript" src="../dist/js/flex-pagination.js"></script>
    <title>Flex Pagination</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css?family=Inconsolata|Source+Sans+Pro&display=swap');

    .wrapper, .wrapper * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .wrapper {
        width: 1200px;
        padding: 0 0 0 250px;
        position: relative;
        margin: 0 auto;
        font-family: 'Source Sans Pro', sans-serif;
    }

    .nav {
        position: fixed;
        left: 50%;
        top: 0;
        width: 250px;
        padding: 15px;
        margin: 0 0 0 -600px;
    }
    .nav .nav-wrapper {
        height: 100%;
        padding: 15px 15px 15px 0;
    }

    .nav a {
        display: block;
        padding: 0 0 7px 0;
    }

    a {
        text-decoration: none;
        color: #3586d1;
    }

    a:hover {
        color: #d35c5c;
    }

    a.active, a.active:hover {
        color: #d35c5c;
        cursor: default;
    }

    .example {
        height: 250px;
        -webkit-box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.05);
        border: 1px solid #cccccc;
        padding: 15px 55px 15px 15px;
        overflow: auto;
        margin-bottom: 15px;
    }

    .example p {
        color: #777777;
    }

    .example p b {
        color: #000000;
    }

    .example-title {
        border-bottom: 1px solid #cccccc;
        margin: 0 0 15px 0;
        padding-top: 15px;
        font-size: 28px;
        color: #555555;
        font-weight: bold;
    }

    .footer{
        height: 150px;
    }

    .code, .note {
        border-radius: 4px 4px 4px 4px;
        -moz-border-radius: 4px 4px 4px 4px;
        -webkit-border-radius: 4px 4px 4px 4px;
        padding: 15px;
        margin-bottom: 15px;
        background: #f8f8f8;
        border: 1px solid #f1f1f1;
        font-size: 16px;
        font-family: 'Inconsolata', monospace;
    }

    .code .prop {
        background: #ffeec4;
    }

    .code .blue {
        color: #032bf2;
    }

    .code .comment {
        color: #888888;
    }

    .note {
        background: #fff7f0;
        font-size: 14px;
        line-height: 18px;
        color: #777777;
    }

    .note b {
        color: #0d5982;
    }

    .flexp .flexp-range-after, .flexp .flexp-range-before {
        background: #f8f8f8;
    }

    .flexp .flexp-range-after, .flexp .flexp-range-before {
        background: #f8f8f8;
    }

    .arrow-left {
        left: 3px;
        top: 3px;
        height: 18px;
        margin: 0 0 -5px 0;
    }

    .clear {
        clear: both;
        margin-bottom: 75px;
    }

    .result {
        border-radius: 4px 4px 4px 4px;
        -moz-border-radius: 4px 4px 4px 4px;
        -webkit-border-radius: 4px 4px 4px 4px;
        border: 0px solid #000000;
        background: #def2dc;
        color: #278020;
        margin: 0 0 15px 0;
        padding: 5px 15px;
    }

    .result b {
        padding-right: 5px;
    }
    
    .loader {
        padding-top: 15px;
        font-size: 20px;
        color: #777777;
        text-align: center;
    }

    .event {
        background: #d2f2bd;
    }

    .my-class .flexp-btn {
        border: 2px solid grey;
        font-weight: bold;
    }

    .my-class .flexp-btn:hover {
        border-color: red;
        color: red;
    }

    .my-class .flexp-first,
    .my-class .flexp-last {
        border-color: blue;
        color: blue;
    }

    .my-class .flexp-previous,
    .my-class .flexp-next {
        border-color: orangered;
        color: orangered;
    }

    .my-class .flexp-range-before,
    .my-class .flexp-range-after {
        border-color: green;
        color: green;
    }

    .my-class .flexp-page.active {
        border-color: white;
        background: white;
        color: black;
    }

</style>
<body style="margin: 0; padding: 0;">
<div id="app">
    <div class="wrapper">
        <div class="nav">
            <img src="logo.png"/>
            <div class="nav-wrapper">
                <a href="#installation"
                   @click="setNavActive('installation')"
                   :class="{ active: nav.active === 'installation'}">
                    <b>Installation</b>
                </a>
                <a href="#ex-default"
                   @click="setNavActive('ex-default')"
                   :class="{ active: nav.active === 'ex-default'}">
                    <b>Basic example</b>
                </a>
                <a href="#ex-ranges"
                   @click="setNavActive('ex-ranges')"
                   :class="{ active: nav.active === 'ex-ranges'}">
                    <b>Ranges</b>
                </a>
                <a href="#ex-config"
                   @click="setNavActive('ex-config')"
                   :class="{ active: nav.active === 'ex-config'}">
                    <b>Configuration</b>
                </a>
                <a href="#ex-hide"
                   @click="setNavActive('ex-hide')"
                   :class="{ active: nav.active === 'ex-hide'}">
                    &nbsp;&nbsp;&nbsp;&nbsp;Hide elements
                </a>
                <a href="#ex-events"
                   @click="setNavActive('ex-events')"
                   :class="{ active: nav.active === 'ex-events'}">
                    &nbsp;&nbsp;&nbsp;&nbsp;Events
                </a>
                <a href="#ex-customization"
                   @click="setNavActive('ex-customization')"
                   :class="{ active: nav.active === 'ex-customization'}">
                    <b>Customization</b>
                </a>
                <a href="#ex-templates"
                   @click="setNavActive('ex-templates')"
                   :class="{ active: nav.active === 'ex-templates'}">
                    &nbsp;&nbsp;&nbsp;&nbsp;Templates
                </a>
                <a href="#ex-style"
                   @click="setNavActive('ex-style')"
                   :class="{ active: nav.active === 'ex-style'}">
                    &nbsp;&nbsp;&nbsp;&nbsp;Styles
                </a>
                <hr/>
                <img src="https://img.shields.io/badge/dynamic/json.svg?url=https://raw.githubusercontent.com/userforce/flex-pagination/master/package.json&label=name&query=$.name&color=blue"><br/>
                <img src="https://img.shields.io/badge/dynamic/json.svg?url=https://raw.githubusercontent.com/userforce/flex-pagination/master/package.json&label=version&query=$.version&color=blue" /><br/>
                <img src="https://img.shields.io/badge/dynamic/json.svg?url=https://raw.githubusercontent.com/userforce/flex-pagination/master/package.json&label=license&query=$.license&color=lightgrey" /><br/>
                <img src="https://img.shields.io/badge/build-passing-green" /><br/>
                <img src="https://img.shields.io/npm/dt/flex-pagination" />
            </div>
        </div>

        <div class="content">

            <div class="note" style="margin-top: 15px">
                Vue.js <b>2.0^</b> powerful but simple pagination component which is fully customizable and easy to use.<br/>
            </div>

            <div class="example-title" id="installation">
                <span class="light-blue">Installation</span>
            </div>
            <div class="code">
                npm install flex-pagination
            </div>



            <div class="example-title" id="ex-default">
                <span class="light-blue">Basic example</span>
            </div>
            <div class="note">
                Flex pagination requires <b>[:pagination=""]</b> property which must be of type object and have 2 child properties.<br/>
                <b>[page]</b> type (int) which is current active page; <br/>
                <b>[total]</b> type (int) which is total amount of pages;
            </div>
            <div class="code">
                <span class="blue">import</span> FlexPagination <span class="blue">from</span> 'flex-pagination';
            </div>
            <div class="code">
                &lt;flex-pagination <span class="blue">:pagination</span>="<span class="prop"><b>pagination</b></span>"&gt;&lt;/flex-pagination&gt;
            </div>
            <div class="code">
                <span class="prop"><b>pagination</b></span>: { <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;page: {{ example1.pagination.page }}, <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;total: {{ totalPages }} <br/>
                }
            </div>
            <div class="example">
                <b>Page {{ example1.pagination.page }}</b><br/>
                <p v-html="content[example1.pagination.page - 1]"></p>
            </div>
            <div class="result"><b>RESULT:</b></div>
            <flex-pagination :pagination="example1.pagination"></flex-pagination>
            <div class="clear"></div>



            <div class="example-title" id="ex-ranges">
                <span class="light-blue">Ranges</span>
            </div>
            <div class="note">
                Optional property <b>[:range=""]</b> is defining how many page are shown around current
                page which are set to 5 by default.<br/>
                <b>[before]</b> type (int) number of pages before current;<br/>
                <b>[after]</b> type (int) number of pages after current;
                <br/><br/>
                <b>NOTE:</b> Ranges was pulled out of <a href="#ex-config">configuration</a> because of its frequent usage.
            </div>
            <div class="code">
                &lt;flex-pagination
                <span class="blue">:pagination</span>="<b>pagination</b>"
                <span class="blue">:range</span>="<span class="prop"><b>range</b></span>"&gt;&lt;/flex-pagination&gt;
            </div>
            <div class="code">
                <span class="prop"><b>range</b></span>: { <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;before: {{ example2.range.before }}, <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;after: {{ example2.range.after }} <br/>
                }<br/><br/>
            </div>
            <div class="example">
                <b>Page {{ example2.pagination.page }}</b><br/>
                <p v-html="content[example2.pagination.page - 1]"></p>
            </div>
            <div class="result"><b>RESULT:</b> 3 pages are shown before the current page and 0 after. </div>
            <flex-pagination :pagination="example2.pagination"
                             :range="example2.range">
            </flex-pagination>
            <div class="clear"></div>



            <div class="example-title" id="ex-config">
                <span class="light-blue">Configuration</span>
            </div>
            <div class="note">
                <b>[:config=""]</b> property is keeping other non required flex-pagination configuration properties.<br/>
                <b><a href="#ex-hide">[show]</a></b> type (object) defines which visual elements must be hidden.<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<b>[first]</b> type (boolean) default true;<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<b>[prev]</b> type (boolean) default true;<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<b>[next]</b> type (boolean) default true;<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<b>[last]</b> type (boolean) default true;<br/>
                <b>[event]</b> type (string) default 'flexp:page';
            </div>
            <div class="clear"></div>



            <div class="example-title" id="ex-hide">
                <span class="light-blue">Hide elements</span>
            </div>
            <div class="note">
                <b>[show]</b> property of the <b>[:config="]</b> object defines which visual elements must be hide or show.<br/>
                <b>[first]</b>, <b>[prev]</b>, <b>[next]</b>, <b>[last]</b> type (boolean) default True;
            </div>
            <div class="code">
                &lt;flex-pagination
                <span class="blue">:pagination</span>="<b>pagination</b>"
                <span class="blue">:config</span>="<span class="prop"><b>config</b></span>"&gt;&lt;/flex-pagination&gt;
            </div>
            <div class="code">
                <span class="prop"><b>config</b></span>: { <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="prop"><b>show</b></span>: { <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;first: {{ example3.config.show.first }}, <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;last: {{ example3.config.show.last }}, <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;next: {{ example3.config.show.next }}, <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;prev: {{ example3.config.show.prev }}<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;}<br/>
                }<br/><br/>
            </div>
            <div class="example">
                <b>Page {{ example3.pagination.page }}</b><br/>
                <p v-html="content[example3.pagination.page - 1]"></p>
            </div>
            <div class="result"><b>RESULT:</b> first, previous and last buttons were hidden. </div>
            <flex-pagination :pagination="example3.pagination" :config="example3.config"></flex-pagination>
            <div class="clear"></div>



            <div class="example-title" id="ex-events">
                <span class="light-blue">Events</span>
            </div>
            <div class="note">
                Each time you navigate on pagination an event is emitted.
                By default event name is 'flexp:page'. You can define a custom event name using config
                <b>[event]</b> property.<br/>
                <b>[event]</b> type (string) default 'flexp:page';<br/><br/>
                <b>NOTE:</b> The event handler will receive selected page number in the first parameter.
            </div>
            <div class="code">
                &lt;flex-pagination
                <span class="blue">:pagination</span>="<b>pagination</b>"
                <span class="event">:v-on:my:custom:event</span>="<span class="prop"><b>myEventHandler</b></span>"
                <span class="blue">:config</span>="<span class="prop"><b>config</b></span>"&gt;...
            </div>
            <div class="code">
                data: { <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;currentPageContent: '',<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;pagination: {<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;page: {{ this.example4.pagination.page }},<br/><br/>
                <span class="comment">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// NOTE: total pages will be updated after "request" result. <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// For demonstration purpose, a random number will be taken in between 40 and 50.<br/>
                </span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;total: {{ this.example4.pagination.total }}
                <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;},<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;config: {<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="prop"><b>event</b></span>: <span class="event">'my:custom:event'</span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;},<br/>
                }<br/>
                methods: { <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="prop"><b>myEventHandler</b></span>(pageNumber) {<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;let <b>self</b> = this;<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.<b>makeRequest</b>(pageNumber).<b>then</b>(function(response){<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.currentPageContent = response.data;<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;});<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;}<br/>
                }<br/><br/>
            </div>
            <div class="example">
                <div class="loader" v-if="example4.isLoading">
                    This is dummy loader to emulate "request" timeout ...<br/>
                    <img src="loader.gif"/>
                </div>
                <p v-if="!example4.isLoading" v-html="example4.pageContent"></p>
            </div>
            <div class="result"><b>RESULT:</b></div>
            <flex-pagination :pagination="example4.pagination" v-on:my:custom:event="ex4LoadPage" :config="example4.config"></flex-pagination>
            <div class="clear"></div>



            <div class="example-title" id="ex-customization">
                <span class="light-blue">Customization</span>
            </div>
            <div class="note">
                Flex pagination is fully customizable, you can replace pagination elements content and/or rewrite basic css.
            </div>
            <div class="clear"></div>



            <div class="example-title" id="ex-templates">
                <span class="light-blue">Templates</span>
            </div>
            <div class="note">
                Content of any element in the flex pagination can be replaced using Vue.js slots features. Each slot
                receive <b>[page]</b> property that can be used in the templates.<br/>
                <b>[flexp:first]</b> slot name for pagination first;<br/>
                <b>[flexp:previous]</b> slot name for pagination previous;<br/>
                <b>[flexp:page]</b> slot name for pagination current page;<br/>
                <b>[flexp:next]</b> slot name for pagination next;<br/>
                <b>[flexp:last]</b> slot name for pagination last;<br/>
                <b>[flexp:range:before]</b> slot name for elements of the range before current page;<br/>
                <b>[flexp:range:after]</b> slot name for elements of the range after current page;<br/>
            </div>
            <div class="code">
                &lt;flex-pagination :pagination="pagination"&gt;
                <br/><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;template <span class="event">v-slot:flexp:first</span>&gt;
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;svg viewBox="0 0 70 120"&gt;&lt;path d="M70 0, 0 50, 70 100, 70 70, 45 50, 70 30, Z"/&gt;&lt;/svg&gt;
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;/template&gt;
                <br/><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;template <span class="event">v-slot:flexp:previous</span>="<b>prev</b>"&gt;
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Back to page:
                    &lbrace;&lbrace; <b>prev</b><span class="prop">.page</span> &rbrace;&rbrace;
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;/template&gt;<br/>
                <br/><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;template <span class="event">v-slot:flexp:range:before</span>="<b>before</b>"&gt;
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;span style="color: red;"&gt;<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &lbrace;&lbrace; <b>before</b><span class="prop">.page</span> &rbrace;&rbrace;<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/span&gt;<br/>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;/template&gt;<br/>
                <br/><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;template <span class="event">v-slot:flexp:page</span>="<b>current</b>"&gt;
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;span style="color: green; font-weight: bold;"&gt;<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &lbrace;&lbrace; <b>current</b><span class="prop">.page</span> &rbrace;&rbrace;<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/span&gt;<br/>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;/template&gt;<br/>
                <br/><br/>
                &lt;/flex-pagination&gt;
            </div>
            <div class="example">
                <b>Page {{ example5.pagination.page }}</b><br/>
                <p v-html="content[example5.pagination.page - 1]"></p>
            </div>
            <div class="result"><b>RESULT:</b></div>
            <flex-pagination :pagination="example5.pagination">
                <template v-slot:flexp:first>
                    <svg class="arrow-left" viewBox="0 0 70 120" xmlns="http://www.w3.org/2000/svg">
                        <path d="M70 0, 0 50, 70 100, 70 70, 45 50, 70 30, Z"/>
                    </svg>
                </template>
                <template v-slot:flexp:previous="prev">
                    Back to page: {{ prev.page }}
                </template>
                <template v-slot:flexp:range:before="before">
                    <span style="color: red;">
                        {{ before.page }}
                    </span>
                </template>
                <template v-slot:flexp:page="current">
                    <span style="color: green; font-weight: bold;">
                        {{ current.page }}
                    </span>
                </template>
            </flex-pagination>
            <div class="clear"></div>



            <div class="example-title" id="ex-style">
                <span class="light-blue">Styles</span>
            </div>
            <div class="note">
                You can rewrite native classes directly or by adding new class to the flex pagination component.
                The class names follows the same pattern as other flex pagination features.
            </div>
            <div class="code">
                &lt;flex-pagination
                <span class="blue">:pagination</span>="<b>pagination</b>"
                <span class="blue">class</span>="<span class="prop"><b>my-class</b></span>"&gt;&lt;/flex-pagination&gt;
            </div>
            <div class="code">
                <br/>
                <span class="prop">.my-class</span> .flexp-<span class="event">btn</span> {<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;border: 2px solid grey;<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;font-weight: bold;<br/>
                }
                <br/>
                <br/>
                <span class="prop">.my-class</span> .flexp-<span class="event">btn</span>:hover {<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;border-color: red;<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;color: red;<br/>
                }
                <br/>
                <br/>
                <span class="prop">.my-class</span> .flexp-<span class="event">first</span>,<br/>
                <span class="prop">.my-class</span> .flexp-<span class="event">last</span> {<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;border-color: blue;<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;color: blue;<br/>
                }
                <br/>
                <br/>
                <span class="prop">.my-class</span> .flexp-<span class="event">previous</span>,<br/>
                <span class="prop">.my-class</span> .flexp-<span class="event">next</span> {<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;border-color: orangered;<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;color: orangered;<br/>
                }
                <br/>
                <br/>
                <span class="prop">.my-class</span> .flexp-<span class="event">range-before</span>,<br/>
                <span class="prop">.my-class</span> .flexp-<span class="event">range-after</span> {<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;border-color: green;<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;color: green;<br/>
                }
                <br/>
                <br/>
                <span class="prop">.my-class</span> .flexp-<span class="event">page</span>.active {<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;border-color: white;<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;background: white;<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;color: black;<br/>
                }
                <br/>
            </div>
            <div class="example">
                <b>Page {{ example1.pagination.page }}</b><br/>
                <p v-html="content[example1.pagination.page - 1]"></p>
            </div>
            <div class="result"><b>RESULT:</b></div>
            <flex-pagination :pagination="example6.pagination" class="my-class"></flex-pagination>
            <div class="clear"></div>


        </div>
    </div>
    <div class="footer"></div>
</div>
<script type="text/javascript">
    new Vue({
        el: '#app',

        components: {
            'flex-pagination': FlexPagination
        },

        data() {
            let totalPages = 50;

            return {
                content: [],
                example1: {
                    pagination: {
                        page: 10,
                        total: totalPages,
                    },
                },
                example2: {
                    pagination: {
                        page: 10,
                        total: totalPages,
                    },
                    range: {
                        before: 3,
                        after: 0
                    },
                },
                example3: {
                    pagination: {
                        page: 10,
                        total: totalPages,
                    },
                    config: {
                        show: {
                            first: false,
                            last: false,
                            next: true,
                            prev: false
                        }
                    }
                },
                example4: {
                    loadPageTimeout: null,
                    isLoading: false,
                    pageContent: '',
                    pagination: {
                        page: 10,
                        total: totalPages,
                    },
                    config: {
                        event: 'my:custom:event'
                    }
                },
                example5: {
                    pagination: {
                        page: 10,
                        total: totalPages,
                    }
                },
                example6: {
                    pagination: {
                        page: 10,
                        total: totalPages,
                    }
                },
                totalPages: totalPages,
                nav: {
                    active: null
                }
            };
        },

        methods: {

            setContent() {
                let content = [];
                for (let i = 1; i <= this.totalPages; i++) {
                    content.push(this.getText());
                }
                this.content = content;
            },

            getText() {
                let self = this;
                let generateText = function() {
                    let text = '';
                    for (let i = 0; i < self.getRandomNumber(100, 150); i++) {
                        text += self.getRandomString() + ' ';
                    }
                    return text;
                };
                let paragraph = '';
                for (let i = 0; i <= self.getRandomNumber(3, 7); i++) {
                    let randomText = generateText();
                    let text = randomText.slice(0, 1).toUpperCase() + randomText.slice(1, randomText.length - 1) + '. <br/></br>';
                    paragraph += text;
                }

                return paragraph;
            },

            getRandomString() {
                return Math.random().toString(36).replace(/[^a-z]+/g, '').substr(0, this.getRandomNumber(2, 11));
            },

            getRandomNumber(min = 0, max = 500) {
                min = Math.ceil(min);
                max = Math.floor(max);
                return Math.floor(Math.random() * (max - min)) + min;
            },

            setNavActive(id) {
                this.nav.active = id;
            },

            ex4LoadPage(page) {
                let self = this;
                this.example4.isLoading = true;
                clearTimeout(this.example4.loadPageTimeout);
                this.example4.loadPageTimeout = setTimeout(function() {
                    self.example4.isLoading = false;
                    let total = self.getRandomNumber(40, 50);
                    total = page > total ? page : total;
                    self.example4.pagination.total = total;
                    self.updateEx4Page(page);
                }, 5000);
            },

            updateEx4Page(page) {
                this.example4.pageContent = "<b>Page " + page + "</b><br/><br/>" + this.content[page - 1];
            },
        },

        mounted() {
            this.setContent();
            this.nav.active = window.location.hash.substr(1);
            this.ex4LoadPage(this.example4.pagination.page);
        }
    });
</script>
</body>
</html>